################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rainnier.DesignPattern.Singleton
/.vs/Rainnier.DesignPattern/v15
/Rainnier.DesignPattern.ProtoType/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.ProtoType/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.ProtoType/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.ProtoType/obj/Debug/Rainnier.DesignPattern.ProtoType.pdb
/Rainnier.DesignPattern.ProtoType/obj/Debug/Rainnier.DesignPattern.ProtoType.exe
/Rainnier.DesignPattern.ProtoType/obj/Debug/Rainnier.DesignPattern.ProtoType.csprojAssemblyReference.cache
/Rainnier.DesignPattern.ProtoType/obj/Debug/Rainnier.DesignPattern.ProtoType.csproj.FileListAbsolute.txt
/Rainnier.DesignPattern.ProtoType/obj/Debug/Rainnier.DesignPattern.ProtoType.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.ProtoType/obj/Debug
/Rainnier.DesignPattern.ProtoType/bin/Debug/Rainnier.DesignPattern.ProtoType.pdb
/Rainnier.DesignPattern.ProtoType/bin/Debug/Rainnier.DesignPattern.ProtoType.exe.config
/Rainnier.DesignPattern.ProtoType/bin/Debug/Rainnier.DesignPattern.ProtoType.exe
/Rainnier.DesignPattern.ProtoType/bin/Debug
/Rainnier.DesignPattern.Interpreter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.Interpreter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.Interpreter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.Interpreter/obj/Debug/Rainnier.DesignPattern.Interpreter.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.Interpreter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Rainnier.DesignPattern.Factory/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.Factory/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.Factory/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.Factory/obj/Debug/Rainnier.DesignPattern.Factory.pdb
/Rainnier.DesignPattern.Factory/obj/Debug/Rainnier.DesignPattern.Factory.exe
/Rainnier.DesignPattern.Factory/obj/Debug/Rainnier.DesignPattern.Factory.csprojAssemblyReference.cache
/Rainnier.DesignPattern.Factory/obj/Debug/Rainnier.DesignPattern.Factory.csproj.FileListAbsolute.txt
/Rainnier.DesignPattern.Factory/obj/Debug/Rainnier.DesignPattern.Factory.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.Factory/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Rainnier.DesignPattern.Factory/obj/Debug
/Rainnier.DesignPattern.Factory/bin/Debug/Rainnier.DesignPattern.Factory.pdb
/Rainnier.DesignPattern.Factory/bin/Debug/Rainnier.DesignPattern.Factory.exe.config
/Rainnier.DesignPattern.Factory/bin/Debug/Rainnier.DesignPattern.Factory.exe
/Rainnier.DesignPattern.Factory/bin/Debug
/Rainnier.DesignPattern.Builder/Rainnier.DesignPattern.Builder.csproj.user
/Rainnier.DesignPattern.Builder/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.Builder/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.Builder/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.Builder/obj/Debug/Rainnier.DesignPattern.Builder.pdb
/Rainnier.DesignPattern.Builder/obj/Debug/Rainnier.DesignPattern.Builder.exe
/Rainnier.DesignPattern.Builder/obj/Debug/Rainnier.DesignPattern.Builder.csprojAssemblyReference.cache
/Rainnier.DesignPattern.Builder/obj/Debug/Rainnier.DesignPattern.Builder.csproj.FileListAbsolute.txt
/Rainnier.DesignPattern.Builder/obj/Debug/Rainnier.DesignPattern.Builder.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.Builder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Rainnier.DesignPattern.Builder/obj/Debug
/Rainnier.DesignPattern.Builder/bin/Debug/Rainnier.DesignPattern.Builder.pdb
/Rainnier.DesignPattern.Builder/bin/Debug/Rainnier.DesignPattern.Builder.exe.config
/Rainnier.DesignPattern.Builder/bin/Debug/Rainnier.DesignPattern.Builder.exe
/Rainnier.DesignPattern.Factory/Rainnier.DesignPattern.Factory.csproj.user
/Rainnier.DesignPattern.Adapter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.Adapter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.Adapter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.Adapter/obj/Debug/Rainnier.DesignPattern.Adapter.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.Adapter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Rainnier.DesignPattern.Adapter/obj/Debug
/Rainnier.DesignPattern.Adapter/bin/Debug/Rainnier.DesignPattern.Adapter.pdb
/Rainnier.DesignPattern.Adapter/bin/Debug/Rainnier.DesignPattern.Adapter.exe.config
/Rainnier.DesignPattern.Adapter/bin/Debug/Rainnier.DesignPattern.Adapter.exe
/Rainnier.DesignPattern.Decorator/obj/Debug
/Rainnier.DesignPattern.Decorator/bin/Debug/Rainnier.DesignPattern.Decorator.pdb
/Rainnier.DesignPattern.Decorator/bin/Debug/Rainnier.DesignPattern.Decorator.exe.config
/Rainnier.DesignPattern.Decorator/bin/Debug/Rainnier.DesignPattern.Decorator.exe
/Rainnier.DesignPattern.Decorator/bin/Debug
