################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rainnier.DesignPattern.Singleton
/.vs/Rainnier.DesignPattern/v15
/Rainnier.DesignPattern.ProtoType/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.ProtoType/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.ProtoType/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.ProtoType/obj/Debug/Rainnier.DesignPattern.ProtoType.pdb
/Rainnier.DesignPattern.ProtoType/obj/Debug/Rainnier.DesignPattern.ProtoType.exe
/Rainnier.DesignPattern.ProtoType/obj/Debug/Rainnier.DesignPattern.ProtoType.csprojAssemblyReference.cache
/Rainnier.DesignPattern.ProtoType/obj/Debug/Rainnier.DesignPattern.ProtoType.csproj.FileListAbsolute.txt
/Rainnier.DesignPattern.ProtoType/obj/Debug/Rainnier.DesignPattern.ProtoType.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.ProtoType/obj/Debug
/Rainnier.DesignPattern.ProtoType/bin/Debug/Rainnier.DesignPattern.ProtoType.pdb
/Rainnier.DesignPattern.ProtoType/bin/Debug/Rainnier.DesignPattern.ProtoType.exe.config
/Rainnier.DesignPattern.ProtoType/bin/Debug/Rainnier.DesignPattern.ProtoType.exe
/Rainnier.DesignPattern.ProtoType/bin/Debug
/Rainnier.DesignPattern.Interpreter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.Interpreter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.Interpreter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.Interpreter/obj/Debug/Rainnier.DesignPattern.Interpreter.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.Interpreter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Rainnier.DesignPattern.Factory/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.Factory/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.Factory/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.Factory/obj/Debug/Rainnier.DesignPattern.Factory.pdb
/Rainnier.DesignPattern.Factory/obj/Debug/Rainnier.DesignPattern.Factory.exe
/Rainnier.DesignPattern.Factory/obj/Debug/Rainnier.DesignPattern.Factory.csprojAssemblyReference.cache
/Rainnier.DesignPattern.Factory/obj/Debug/Rainnier.DesignPattern.Factory.csproj.FileListAbsolute.txt
/Rainnier.DesignPattern.Factory/obj/Debug/Rainnier.DesignPattern.Factory.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.Factory/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Rainnier.DesignPattern.Factory/obj/Debug
/Rainnier.DesignPattern.Factory/bin/Debug/Rainnier.DesignPattern.Factory.pdb
/Rainnier.DesignPattern.Factory/bin/Debug/Rainnier.DesignPattern.Factory.exe.config
/Rainnier.DesignPattern.Factory/bin/Debug/Rainnier.DesignPattern.Factory.exe
/Rainnier.DesignPattern.Factory/bin/Debug
/Rainnier.DesignPattern.Builder/Rainnier.DesignPattern.Builder.csproj.user
/Rainnier.DesignPattern.Builder/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.Builder/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.Builder/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.Builder/obj/Debug/Rainnier.DesignPattern.Builder.pdb
/Rainnier.DesignPattern.Builder/obj/Debug/Rainnier.DesignPattern.Builder.exe
/Rainnier.DesignPattern.Builder/obj/Debug/Rainnier.DesignPattern.Builder.csprojAssemblyReference.cache
/Rainnier.DesignPattern.Builder/obj/Debug/Rainnier.DesignPattern.Builder.csproj.FileListAbsolute.txt
/Rainnier.DesignPattern.Builder/obj/Debug/Rainnier.DesignPattern.Builder.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.Builder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Rainnier.DesignPattern.Builder/obj/Debug
/Rainnier.DesignPattern.Builder/bin/Debug/Rainnier.DesignPattern.Builder.pdb
/Rainnier.DesignPattern.Builder/bin/Debug/Rainnier.DesignPattern.Builder.exe.config
/Rainnier.DesignPattern.Builder/bin/Debug/Rainnier.DesignPattern.Builder.exe
/Rainnier.DesignPattern.Factory/Rainnier.DesignPattern.Factory.csproj.user
/Rainnier.DesignPattern.Adapter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.Adapter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.Adapter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.Adapter/obj/Debug/Rainnier.DesignPattern.Adapter.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.Adapter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Rainnier.DesignPattern.Adapter/obj/Debug
/Rainnier.DesignPattern.Adapter/bin/Debug/Rainnier.DesignPattern.Adapter.pdb
/Rainnier.DesignPattern.Adapter/bin/Debug/Rainnier.DesignPattern.Adapter.exe.config
/Rainnier.DesignPattern.Adapter/bin/Debug/Rainnier.DesignPattern.Adapter.exe
/Rainnier.DesignPattern.Decorator/obj/Debug
/Rainnier.DesignPattern.Decorator/bin/Debug/Rainnier.DesignPattern.Decorator.pdb
/Rainnier.DesignPattern.Decorator/bin/Debug/Rainnier.DesignPattern.Decorator.exe.config
/Rainnier.DesignPattern.Decorator/bin/Debug/Rainnier.DesignPattern.Decorator.exe
/Rainnier.DesignPattern.Decorator/bin/Debug
/Rainnier.DesignPattern.Facade/obj/Release/Rainnier.DesignPattern.Facade.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.Facade/obj/Release
/Rainnier.DesignPattern.Facade/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.Facade/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.Facade/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.Facade/obj/Debug/Rainnier.DesignPattern.Facade.pdb
/Rainnier.DesignPattern.Facade/obj/Debug/Rainnier.DesignPattern.Facade.exe
/Rainnier.DesignPattern.Facade/obj/Debug/Rainnier.DesignPattern.Facade.csprojAssemblyReference.cache
/Rainnier.DesignPattern.Facade/obj/Debug/Rainnier.DesignPattern.Facade.csproj.FileListAbsolute.txt
/Rainnier.DesignPattern.Facade/obj/Debug/Rainnier.DesignPattern.Facade.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.Facade/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Rainnier.DesignPattern.Facade/obj/Debug
/Rainnier.DesignPattern.Facade/obj
/Rainnier.DesignPattern.Facade/bin/Debug/Rainnier.DesignPattern.Facade.pdb
/Rainnier.DesignPattern.Facade/bin/Debug/Rainnier.DesignPattern.Facade.exe.config
/Rainnier.DesignPattern.Facade/bin/Debug/Rainnier.DesignPattern.Facade.exe
/Rainnier.DesignPattern.Facade/bin/Debug
/Rainnier.DesignPattern.FlyWeight/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.FlyWeight/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.FlyWeight/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.FlyWeight/obj/Debug/Rainnier.DesignPattern.FlyWeight.pdb
/Rainnier.DesignPattern.FlyWeight/obj/Debug/Rainnier.DesignPattern.FlyWeight.exe
/Rainnier.DesignPattern.FlyWeight/obj/Debug/Rainnier.DesignPattern.FlyWeight.csprojAssemblyReference.cache
/Rainnier.DesignPattern.FlyWeight/obj/Debug/Rainnier.DesignPattern.FlyWeight.csproj.FileListAbsolute.txt
/Rainnier.DesignPattern.FlyWeight/obj/Debug/Rainnier.DesignPattern.FlyWeight.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.FlyWeight/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Rainnier.DesignPattern.FlyWeight/obj/Debug
/Rainnier.DesignPattern.FlyWeight/bin/Debug/Rainnier.DesignPattern.FlyWeight.pdb
/Rainnier.DesignPattern.FlyWeight/bin/Debug/Rainnier.DesignPattern.FlyWeight.exe.config
/Rainnier.DesignPattern.FlyWeight/bin/Debug/Rainnier.DesignPattern.FlyWeight.exe
/Rainnier.DesignPattern.FlyWeight/bin/Debug
/Rainnier.DesignPattern.FlyWeight
/Rainnier.DesignPattern.Composite/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.Composite/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.Composite/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.Composite/obj/Debug/Rainnier.DesignPattern.Composite.csprojAssemblyReference.cache
/Rainnier.DesignPattern.Composite/obj/Debug/Rainnier.DesignPattern.Composite.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.Composite/obj/Debug
/Rainnier.DesignPattern.Bridge/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.Bridge/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.Bridge/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.Bridge/obj/Debug/Rainnier.DesignPattern.Bridge.csprojAssemblyReference.cache
/Rainnier.DesignPattern.Bridge/obj/Debug/Rainnier.DesignPattern.Bridge.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.Bridge/obj/Debug
/Rainnier.DesignPattern.Proxy/obj/Debug
/Rainnier.DesignPattern.AttributeDemo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.AttributeDemo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.AttributeDemo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.AttributeDemo/obj/Debug/Rainnier.DesignPattern.AttributeDemo.pdb
/Rainnier.DesignPattern.AttributeDemo/obj/Debug/Rainnier.DesignPattern.AttributeDemo.exe
/Rainnier.DesignPattern.AttributeDemo/obj/Debug/Rainnier.DesignPattern.AttributeDemo.csprojAssemblyReference.cache
/Rainnier.DesignPattern.AttributeDemo/obj/Debug/Rainnier.DesignPattern.AttributeDemo.csproj.FileListAbsolute.txt
/Rainnier.DesignPattern.AttributeDemo/obj/Debug/Rainnier.DesignPattern.AttributeDemo.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.AttributeDemo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Rainnier.DesignPattern.AttributeDemo/obj/Debug
/Rainnier.DesignPattern.AttributeDemo/bin/Debug/Rainnier.DesignPattern.AttributeDemo.pdb
/Rainnier.DesignPattern.AttributeDemo/bin/Debug/Rainnier.DesignPattern.AttributeDemo.exe.config
/Rainnier.DesignPattern.AttributeDemo/bin/Debug/Rainnier.DesignPattern.AttributeDemo.exe
/Rainnier.DesignPattern.AttributeDemo/bin/Debug
/Rainnier.DesignPattern.Visitor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.Visitor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.Visitor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.Visitor/obj/Debug/Rainnier.DesignPattern.Visitor.csprojAssemblyReference.cache
/Rainnier.DesignPattern.Visitor/obj/Debug/Rainnier.DesignPattern.Visitor.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.Visitor/obj/Debug
/Rainnier.DesignPattern.TemplateMethod/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.TemplateMethod/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.TemplateMethod/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.TemplateMethod/obj/Debug/Rainnier.DesignPattern.TemplateMethod.csprojAssemblyReference.cache
/Rainnier.DesignPattern.TemplateMethod/obj/Debug/Rainnier.DesignPattern.TemplateMethod.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.TemplateMethod/obj/Debug
/Rainnier.DesignPattern.AOP.Interception/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rainnier.DesignPattern.AOP.Interception/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rainnier.DesignPattern.AOP.Interception/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rainnier.DesignPattern.AOP.Interception/obj/Debug/Rainnier.DesignPattern.AOP.Interception.csprojAssemblyReference.cache
/Rainnier.DesignPattern.AOP.Interception/obj/Debug/Rainnier.DesignPattern.AOP.Interception.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.AOP.Interception/obj/Debug
/.vs/Rainnier.DesignPattern/v16/Server/sqlite3
/.vs/Rainnier.DesignPattern/v16/.suo
/Rainnier.DesignPattern.AOP.Interception/bin/Debug
/Rainnier.DesignPattern.AOP.Interception/obj/Debug
/Rainnier.DesignPattern.AttributeDemo/bin/Debug
/Rainnier.DesignPattern.AttributeDemo/obj/Debug
/Rainnier.DesignPattern.Visitor/obj/Debug/Rainnier.DesignPattern.Visitor.pdb
/Rainnier.DesignPattern.Visitor/obj/Debug/Rainnier.DesignPattern.Visitor.exe
/Rainnier.DesignPattern.Visitor/obj/Debug/Rainnier.DesignPattern.Visitor.csproj.FileListAbsolute.txt
/Rainnier.DesignPattern.Visitor/obj/Debug/Rainnier.DesignPattern.Visitor.csproj.CoreCompileInputs.cache
/Rainnier.DesignPattern.Visitor/obj/Debug
/Rainnier.DesignPattern.Visitor/bin/Debug/Rainnier.DesignPattern.Visitor.pdb
/Rainnier.DesignPattern.Visitor/bin/Debug/Rainnier.DesignPattern.Visitor.exe.config
/Rainnier.DesignPattern.Visitor/bin/Debug/Rainnier.DesignPattern.Visitor.exe
/Rainnier.DesignPattern.Visitor/bin/Debug
/Rainnier.DesignPattern.Visitor
/Rainnier.DesignPattern.Thread/obj/Debug
/Rainnier.DesignPattern.Thread/bin/Debug
/Rainnier.DesignPattern.TemplateMethod
/Rainnier.DesignPattern.Proxy/bin/Debug
/Rainnier.DesignPattern.Interpreter
/Rainnier.DesignPattern.Composite/bin/Debug
/Rainnier.DesignPattern.Bridge/bin/Debug
/Rainnier.DesignPattern.Network/obj/Debug
/Rainnier.DesignPattern.Network/bin/Debug/Rainnier.DesignPattern.Network.pdb
/Rainnier.DesignPattern.Network/bin/Debug/Rainnier.DesignPattern.Network.exe.config
/Rainnier.DesignPattern.Network/bin/Debug/Rainnier.DesignPattern.Network.exe
/Rainnier.DesignPattern.Network/bin/Debug
